.gameInfo {
  padding: 0px 8px 5px 8px;
  background-color: var(--lightestGray) !important;
  margin-bottom: 16px;
  max-width: 400px;
}

.additionalInfo {
  max-width: 400px;
  background-color: var(--lightGray) !important;
}


