.tableFiltersCard {
  padding: 10px;
  background-color: var(--lightestGray) !important;
  border-radius: 8px;
  box-shadow: none;
  max-width: 550px;
  margin: 16px 0;
}

.fields {
  background-color: white;
  width: 125px;
  border-radius: 4px;
}

.button {
  color: var(--darkestGray);
}
