.seasonTable {
  max-width: 500px;
  border: 1px solid darkgray;
  border-radius: 5px;
}

.header {
  background-color: grey;
}

.search {
  width : 100%;
}

.searchInput {
  background-color: lightgrey;
  border: none;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}