.diamond {
  width: 200px;
  height: 200px;
  position: relative;
  transform: rotate(45deg);
  margin: 25px auto;
  border: black solid 1px;
}

.modal {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 500px;
  height: 500px;
  background-color: white;
  border: 2px solid #000;
}

.firstBase {
  width: 40px;
  height: 40px;
  background-color: white;
  position: absolute;
  border: black solid 2px;
  top: -.5%;
  left: 100.5%;
  transform: translateX(-100%);
}

.secondBase {
  width: 40px;
  height: 40px;
  background-color: white;
  position: absolute;
  border: black solid 2px;
  top: -.5%;
  left: -.5%;
}

.thirdBase {
  width: 40px;
  height: 40px;
  background-color: white;
  position: absolute;
  border: black solid 2px;
  top: 78.5%;
  left: 21.5%;
  transform: translateX(-100%);
}

.plateAppearanceInfoTables {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  padding: 25px;
  gap: 10px 20px;
  flex-wrap: wrap;
}